@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #3f982c;
    --color-secondary: #2e6b22;
    --color-error: 239, 68, 68;
  }

  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #ffffff;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    @apply w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2;
  }

  button {
    @apply transition-colors duration-200;
    background-color: var(--color-primary);
  }
  .error-alert button, .bg-unset{
    background-color: unset;
  }

}
.text-primary{
    color: var(--color-primary);
  }
.sidebarbg{
  background-color: #fcfbfb;
}
.bg-primary{
  background-color: var(--color-primary);
}



/* Optional: Hide scrollbar entirely but keep functionality */
/* If you want the scrollbar to *only* appear on hover, you'd need more complex JS/CSS or specific browser extensions,
   but this makes it very discreet until scrolled. */

.custom-scrollbar {
    overflow-y: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
.custom-scrollbar::-webkit-scrollbar {
    display: none; 
}

/* Custom Scrollbar Styles for Webkit browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e0; /* Color of the thumb */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a0aec0; /* Color of the thumb on hover */
}

/* Custom Scrollbar Styles for Firefox */
.custom-scrollbar {
  scrollbar-width: none;
}

@keyframes scale-in {
  0% { transform: scale(0.95); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
.animate-scale-in {
  animation: scale-in 0.2s ease-out forwards;
}
